html {
  box-sizing: border-box;
}


*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Kanit';
  background-color: rgb(35,35,35);
  background: radial-gradient(circle at 90%, #232323, #14213d 40%, #0c284d 50%, #232323 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: 30em;
  height: 100vh;

}

 h1 {
   text-align: center;
   font-size: calc(45px + 10 * ((100vw - 300px)/1300));
   font-variant: small-caps;

 }

#dadJoke {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  width: 80%;
}

#bigpush {
  border-radius: 50%;
  width: 60%;
  padding-top:60px;
  padding-bottom: 60px;
  margin: 20px;
  font-variant: small-caps;
  font-family: 'Krona One';
  font-size: calc(30px + 5 * ((100vw - 300px)/1300));
  background-color: rgb(196 17 4);
  background: linear-gradient(#c41104, #821109);
  box-shadow: -5px 10px 20px black;
  color: white;
}

#jokeDisplay {
  display: none;
  font-size: calc(45px + 10 * ((100vw - 300px)/1300));
  text-align: center;
  margin: 40px;
  padding: 50px;
  background-color: rgb(8 3 54);
  background: radial-gradient(circle at 90%, #232323, #14213d 40%, #0c284d 50%, #232323 95%);
  box-shadow: -5px 10px 20px black;
}

footer {
  padding: 20px;
  margin: 60px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #3e59f7;
}
