html {
  box-sizing: border-box;
}


*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(35,35,35);
  background: radial-gradient(circle at 90%, #232323, #14213d 40%, #0c284d 50%, #232323 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 30em;

}

 h1 {
   text-align: center;
   font-size: calc(45px + 10 * ((100vw - 300px)/1300));
   padding-top: 100px;
 }

#dadJoke {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  width: 90%;
}

#bigpush {
  border-radius: 50%;
  width: 100%;
  padding:40px;
  margin: 40px;
  font-variant: small-caps;
  font-size: calc(30px + 15 * ((100vw - 300px)/1300));
  background-color: rgb(196 17 4);
  color: white;
}

#jokeDisplay {
<<<<<<< HEAD
  font-size: calc(40px + 15 * ((100vw - 300px)/1300));
=======
  font-size: calc(50px + 15 * ((100vw - 300px)/1300));
>>>>>>> a7c7ed37bc55bfba7eec2faf2ebb27cd095d6473
  text-align: center;
  margin: 30px;
  padding-top: 30px;

}
